{% extends "base.html" %}

{% block content %}
<h2 class="my-4">Agregar producto</h2>
<section class="alert alert-warning" role="alert">
    <form method="post" enctype="multipart/form-data">  <!-- multipart/form-data para poder subir la imagen. --> 
        {% csrf_token %}
        <table class="table table-dark table-striped">
            <tr>
                <td>Nombre: </td>
                <td>{{form.nombre}}</td>
            </tr>
            <tr>
                <td>Precio: </td>
                <td>{{form.precio}}</td>                
            </tr>
            <tr>
                <td>Stock actual: </td>
                <td>{{form.stock_actual}}</td>                
            </tr>
            <tr>
                <td>Foto: </td>
                <td>{{form.foto}}</td>                
            </tr>
            <tr>
                <td>Stock actual: </td>
                <td>{{form.proveedor}}</td>                
            </tr>
        </table>
        <button type="submit" class="btn btn-outline-primary">Guardar</button>
        <a class="btn btn-outline-primary m-3" href="{% url 'inicio' %}" role="button">Inicio</a>
    </form>
</section> 
{% endblock content %}