{% extends "base.html" %} # Se toma como base el archivo base.html y se inserta el bloque
{% block content %}
<h2 class="my-4">Listado de productos</h2>
    <table class="table table-hover">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Foto</th>
                <th scope="col">Nombre</th>
                <th scope="col" class="alineado-derecha">Precio</th>
                <th scope="col" class="alineado-derecha">Stock</th>
                <th scope="col" class="alineado-derecha">Proveedor</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in lista_de_productos %}
            <tr height="70px">
                <td scope="row">{{producto.id}}</td>
                <td scope="row"> <img src="{{ producto.foto.url }}" width="50px" max-height="50px"/></td>
                <td>{{producto.nombre}}</td> 
                <td class="alineado-derecha">{{producto.precio}}</td> 
                <td class="alineado-derecha">{{producto.stock_actual}}</td>
                <td class="alineado-derecha">{{producto.proveedor.nombre}} {{producto.proveedor.apellido}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-outline-primary m-3" href="{% url 'compra:productos_create' %}" role="button">Agregar producto</a>
    <a class="btn btn-outline-primary m-3" href="{% url 'inicio' %}" role="button">Inicio</a>
{% endblock content %}
